# MariaDB user
MYSQL_USER='mariabackup'
# MariaDB password
MYSQL_PASSWORD='mySecretPassword'
# MariaDB host
MYSQL_HOST='localhost'
# MariaDB port
MYSQL_PORT=3306
# Arguments to mariabackup command
MARIABACKUP_ARGS='--galera-info'
# How many threads should we used by mariabackup command
MARIABACKUP_THREADS=4
# Directory where backups are stored
BACKUP_DIR='/tmp/mariabackup'
# How many threads should we used by mydumper command
MYDUMPER_THREADS=4
# How many backups should we keep for history (in days)
BACKUP_TTL=3
# Slack Webhook URL to notify from backup state (keep it secret !)
SLACK_WEBHOOK_URL='https://hooks.slack.com/services/xxxxx/xxxxx'